* {
  border: 1px solid red;
}

.board-grid-cell {
  height: 150px;
  width: 150px;
  background-color: orange;
  cursor: pointer;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}
